<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="ProjectBubbles - Internal Preview v.0.1.2" package="com.ProjectBubbles" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="ProjectBubbles.Android"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>